.advantages {
  text-align: center;
}

.advantages__intro {
  position: relative;
  padding: 39px 32px 41px;
  box-shadow: inset 0 -16px $base-color;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;

    display: block;
    width: 320px;
    height: 37px;
    margin-left: -160px;


    background: url("../img/bg-triangle.svg") no-repeat;
  }
}

.advantages__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.advantages__intro-text {
  margin: 0;
  margin-top: 28px;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__list {
  @include list-reset;
}

.advantages__info {
  position: relative;

  padding: 24px 35px 29px 36px;
  background-color: #eeeeee;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;

    display: block;
    width: 280px;
    height: 1px;
    margin-left: -140px;

    background-color: #d6d6d6;
  }

  &:last-child::before {
    display: none;
  }

  &--expanded {
    padding: 39px 26px;

    background-color: $base-color;
    color: #ffffff;

    &::before {
      display: none;
    }
  }
}

.advantages__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  display: block;
  margin: 0;
  margin-top: 10px;
}


.advantages__text {
  margin: 0;
  margin-top: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.advantages__image {
  display: block;
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

.advantages__sublist {
  margin: 0;
  padding: 24px 20px 36px;

  text-align: left;
  color: #000000;

  list-style: none;
  background-color: #ffffff;
}

.advantages__subitem {
  position: relative;
  margin-bottom: 16px;
  padding-top: 11px;
  padding-left: 49px;


  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;


    display: block;
    width: 40px;
    height: 40px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--housing::before {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    top: 5px;

    background-image: url("../img/icon-burger.svg");
  }
}

.advantages__subtitle {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.advantages__subtext {
  margin: 15px 0 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .advantages__intro {
    width: 500px;
    padding: 50px 0;
    margin: 0 auto;

    box-shadow: none;

    &::before {
      display: none;
    }
  }

  .advantages__description {
    font-size: 21px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 168px;
    padding: 44px 45px;

    &:nth-last-child(1) {
      width: 160px;
      padding-left: 48px;
      padding-right: 48px;
    }

    &:nth-last-child(2) {
      width: 150px;
      padding-left: 52px;
      padding-right: 52px;
    }

    &::before {
      display: none;
    }

    &--first,
    &--second {
      display: flex;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      width: 100%;
    }

    &--second {
      .advantages__info {
        order: 2;
      }
    }
  }

  .advantages__info {
    &--expanded {
      padding: 44px 46px;
      width: 154px;
      flex-grow: 1;
    }
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__text {
    margin-top: 19px;
  }

  .advantages__image {
    width: 512px;
    height: 256px;
  }

  .advantages__sublist {
    display: flex;
    width: 100%;
    padding: 0;

    text-align: center;
  }

  .advantages__subitem {
    width: 170px;
    margin: 0 auto;
    padding: 158px 43px 41px;
    flex-grow: 1;
    flex-shrink: 0;

    &::before {
      top: 57px;
      left: 50%;

      width: 78px;
      height: 77px;
      margin-left: -39px;
    }

    &:nth-child(3) {
      width: 160px;
      padding-left: 48px;
      padding-right: 48px;
    }

    &--last-on-wide {
      order: 1;
    }
  }

  .advantages__subtitle {
    font-size: 21px;
  }

  .advantages__subtext {
    margin: 21px 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__info {
    padding-bottom: 66px;

    &--expanded {
      padding: 51px 55px;
      width: 290px;
    }
  }

  .advantages__title {
    width: 160px;
    margin: 0 auto;
  }

  .advantages__item {
    width: 290px;
    margin: 0;
    padding: 44px 55px;
    padding-bottom: 66px;

    &:nth-last-child(1) {
      width: 286px;
      padding-left: 57px;
      padding-right: 57px;
    }

    &:nth-last-child(2) {
      width: 272px;
      padding-left: 64px;
      padding-right: 64px;
    }

    &--first,
    &--second {
      width: 100%;
      padding: 0;
    }

    &--second {
      .advantages__info--expanded {
        padding-left: 85px;
        padding-right: 85px;
        width: 230px;
      }
    }
  }

  .advantages__image {
    width: 800px;
  }

  .advantages__subitem {
    padding-bottom: 62px;
  }
}
