.first-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 158px;

  background-color: #deecf5;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");

  background-size:
    100% auto,
    auto;

  background-position:
    center bottom,
    center bottom;

  background-repeat:
    no-repeat,
    no-repeat;
}

.first-screen__image {
  width: 229px;
  height: 39px;
  margin-top: 52px;
}

@media (min-width: $tablet-width) {
  .first-screen {
    height: 290px;

    background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
  }

  .first-screen__image {
    width: 460px;
    height: 80px;
    margin-top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    height: 301px;

    background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
  }

  .first-screen__image {
    margin-top: 101px;
  }
}

.first-screen--main {
  height: 389px;

  .first-screen__image {
    width: 282px;
    height: 214px;
    margin-top: 90px;
  }
}

@media (min-width: $tablet-width) {
  .first-screen--main {
    height: 518px;

    .first-screen__image {
      width: 460px;
      height: 350px;
      margin-top: 77px;
    }
  }
}
