.page-header {
  position: relative;

  background-color: #ffffff;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  bottom: -33px;
  margin-left: -50px;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
}
