.photo-gallery__list {
  @include list-reset;
}

.photo-gallery__item {
  margin-bottom: 40px;
}

.photo-gallery__item figure{
  margin: 0;
}

.photo-gallery__image {
  width: 280px;
  height: 280px;
}

.photo-gallery__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}


.photo-gallery__like-button {
  background-color: #ffffff;
  border: none;
  color: #b2b2b2;
}

.photo-gallery__like-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .photo-gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-gallery__item {
    width: 50%;
    margin: 0;

    &--full {
      width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__item {
    width: 400px;
  }
}
