.social__list {
  display: flex;
  justify-content: center;

  @include list-reset;
}

.social__item {
  margin: 0 3px;
}

.social__link {
  text-decoration: none;
  color: #ffffff;
  background-color: $base-color;
}
