@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
